<div class="col-md-2 wrapper">
  <nav class="navbar navbar-default navbar-fixed-side">
    <ul>
      <li routerLink="/" routerLinkActive="activemy"
          [routerLinkActiveOptions]="{exact: true}">
        Contacts <i class="fa fa-address-book" aria-hidden="true"></i>
      </li>
      <li routerLink="/groups" routerLinkActive="activemy"
          [routerLinkActiveOptions]="{exact: true}">
        Groups <i class="fa fa-users" aria-hidden="true"></i>
      </li>
      <li routerLink="/canvas" routerLinkActive="activemy"
          [routerLinkActiveOptions]="{exact: true}" >
        Canvas Page <i class="fa fa-picture-o" aria-hidden="true"></i>
      </li>
    </ul>
  </nav>
</div>
